button {
    border: none;
    background: transparent;
    outline: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
}




.button {
    display: inline-block;
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    padding: .75rem 1rem;
}




.solid-button {
    background: #7D0000;
    color: white;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
}




.outline-button {
    border: .0625rem solid #7D0000;
}