.cards {
    margin-bottom: -26px;
    
    @media screen and (min-width: 760px) {
        margin-left: -10px;
        width: calc(100% + 20px);
        display: flex;
        flex-wrap: wrap;
    }
}

.card {
    position: relative;
    padding-bottom: 52px;
    margin-bottom: 52px;
    width: 100%;
    background: white;
    border: 1px solid #D3DBE3;
    
    @media screen and (min-width: 760px) {
        width: calc(33.33% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }
}

.card-hero {
    padding: 2rem;
}

.card-title {
    margin-top: 0;
}

.card-description {
    margin-bottom: 0;
}

.card-extension {
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    position: absolute;
    bottom: 0;
    left: 2rem;
    right: 2rem;
    height: 52px;
    font-family: 'Droid Sans', sans-serif;
    text-transform: uppercase;
    line-height: 52px;
    background: $arnett-red;
    transform: translateY(50%);
    color: white;
    font-size: 1rem;
}

.card-extension::after {
    content: "";
    display: inline-block;
    border-style: solid;
    border-width: 3px 3px 0 0;
    height: 12px;
    width: 12px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%) rotate(45deg);
    vertical-align: top;
    color: white;
}