.cards {
    margin-bottom: -32px;
    
    @media screen and (min-width: 760px) {
        margin-left: -10px;
        width: calc(100% + 20px);
        display: flex;
        flex-wrap: wrap;
    }
}

.card {
    position: relative;
    padding-bottom: 6.75rem;
    margin-bottom: 2rem;
    width: 100%;
    background: white;
    border: 1px solid #D3DBE3;
    border-top: 3px solid $arnett-red;
    
    @media screen and (min-width: 760px) {
        width: calc(33.33% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }
}

//.card::before {
//    content: "";
//    display: block;
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 3px;
//    background: $arnett-red;
//}

.card-hero {
    padding: 2rem;
}

.card-title {
    margin-top: 0;
}

.card-description {
    margin-bottom: 0;
}

.card-extension {
    //padding-left: 1rem;
    //padding-right: 1rem;
    //display: block;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    //right: 2rem;
    //height: 52px;
    //font-family: 'Droid Sans', sans-serif;
    //text-transform: uppercase;
    //line-height: 52px;
    //background: $arnett-red;
    transform: translateX(-50%);
    //color: white;
    //font-size: 1rem;
    padding-right: 2.5rem;
    width: calc(100% - 4rem);
}

.card-extension::after {
    content: "";
    display: inline-block;
    border-style: solid;
    border-width: 3px 3px 0 0;
    height: 12px;
    width: 12px;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%) rotate(45deg);
    vertical-align: top;
    color: white;
}