.footer {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.social {
    margin-bottom: 1rem;
}

.social a {
    font-family: $sans-serif;
    display: inline-block;
    margin-left: .5rem;
    margin-right: .5rem;
}

.copyright {
    margin-bottom: 0;
}