.menu {
    font-family: 'Droid Sans', sans-serif;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media screen and (min-width: 740px) {
    .hp-menu {
        display: none;
    }
}

@media screen and (min-width: 740px) {
    .bp-menu {
        width: 33.33%; 
        position: absolute; 
        top: 0; 
        left: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.menu ul {
    padding-left: 0;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #D3DBE3;
    //border-radius: 4px;
}

.menu a {
    padding: 1rem;
    line-height: 1.4;
    border-bottom: 1px solid #D3DBE3;
    display: block;
}

.menu li {
    font-size: 1rem;
}

.menu li:last-child a {
    border-bottom: none;
}

.menu .current a {
    color: white;
    background: #7D0000;
}