.site-wrapper {
    width: 100%; 
}

.layout-container {
    //width: calc(100% - 60px);
    width: 100%;
    //max-width: 1280px; 
    //max-width: 1200px;
    max-width: 960px;
    position: relative; 
    margin: 0 auto; 
}

.module {
    //padding-top: 2rem;
    //padding-bottom: 2rem;
    padding: 2rem;
}

.bp {
    margin-top: 2rem;
    
    @media screen and (min-width: 740px) {
        position: relative; 
        padding-left: calc(33.33% + 60px);
    }
}

.bp-content {
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
    @media screen and (min-width: 740px) {
        padding-left: 0;
        padding-right: 0;
    }
}