.testimonials {
    padding-top: 3.75rem; 
    padding-bottom: 3.75rem;
    background: #4F483E;
}

.testimonials-title {
    color: white;
}

.testimonial {
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
    width: 50%; 
    padding: 1.875rem; 
    background: white;
    margin: 0 auto;
}

/* 0A0903 black */