.testimonials {
    padding-top: 60px; 
    padding-bottom: 60px;
    background: #4F483E;
}

.testimonials-title {
    color: white;
}

.testimonial {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 50%; 
    padding: 30px; 
    background: white;
    margin: 0 auto;
}

/* 0A0903 black */

/* 1F526E blue */