@font-face {
    font-family: 'Futura Std';
    src: url('../fonts/FuturaStd-Bold.woff2') format('woff2'),
        url('../fonts/FuturaStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std';
    src: url('../fonts/FuturaStd-Book.woff2') format('woff2'),
        url('../fonts/FuturaStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Black Heart';
    src: url('../fonts/BlackHeart.woff2') format('woff2'),
        url('../fonts/BlackHeart.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$wvu-blue: #002855;
$wvu-yellow: #EAAA00;
$wvu-black: #2C2A29;
$pms-432-c: #333F48;
$pms-429-c: #A2AAAD;
$pms-286-c: #0033A0;
$pms-300-c: #005EB8;
$apple: black;
$spotify: #1DB954;
$tunein: #14D8CC;
$stitcher: black;
$facebook: #3b5999;
$instagram: #d93175;
$twitter: #55acee;

html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: $wvu-blue;
    color: white;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Futura Std';
    font-size: 100%;    
}

.page {
    // background-color: $pms-286-c;
    // background-image: 
    //     linear-gradient(rgba(white, 1) 8rem, rgba(white, 0) 50%), 
    //     linear-gradient(rgba(white, .8), rgba(white, .8)), 
    //     url(../images/61.jpg);
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: cover;
    // background-attachment: fixed;

    background-image: 
        // linear-gradient(rgba(white, 1), rgba(white, 0)), 
        linear-gradient(rgba($wvu-black, .9), rgba($wvu-black, .9)), 
        url(../images/61.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    // background-image: 
    //     // linear-gradient(rgba(white, 1), rgba(white, 0)), 
    //     linear-gradient(rgba(white, .8), rgba(white, .8)), 
    //     url(../images/61.jpg);
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: cover;
    // background-attachment: fixed;

    &--podcast {
        background-image: 
        linear-gradient(to right, rgba($pms-286-c, .9), rgba($wvu-blue, .94)), 
        url(../images/final-fourcast-resized-1440x600.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: scroll;
    }
}

a {
    color: $wvu-yellow;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

h2 {
    margin-bottom: .25em;
}

p {
    margin-top: .25rem;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    // display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.layout {
    width: calc(100% - 4rem);
    max-width: 67.5rem; // 1080px
    margin-left: auto; 
    margin-right: auto;
}

.header {
    padding-top: 4rem; 
    padding-bottom: 0; 
    text-align: center;

    .page--podcast & {
        padding-top: 12rem; 
        padding-bottom: 12rem;
        text-align: center;
    }

    &__logo {
        &--podcast {
            font-family: 'Black Heart';
            color: $wvu-yellow;
            font-size: 3rem;
            font-weight: normal;
            line-height: .8;
            letter-spacing: .25rem;
            text-shadow: 1px 0 white;
        
            @media screen and (min-width: 400px) {
                font-size: 4rem;
            }
        
            @media screen and (min-width: 600px) {
                font-size: 8.5rem;
            }
        }

        img {
            max-width: 240px;
        }
    }

    p {
        margin-top: 2rem;
        color: white; 
        font-size: 1.25rem;

        &:first-of-type {
            font-size: 2.25rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}




.listen {
    display: inline-block;
    padding: .125rem .25rem;
    border-radius: .125rem;
    background-color: black;
    color: white;

    &--apple {
        background-color: $apple;
    }
    
    &--spotify {
        background-color: $spotify;
    }

    &--tunein {
        background-color: $tunein;
    }

    &--stitcher {
        background-color: $stitcher;
    }
}




.events {
    padding-top: 4rem;
    padding-bottom: 4rem;
    // background-color: rgba(white, .1);
    // background-color: rgba($wvu-blue, .5);
    // background-image: 
    //     // linear-gradient(rgba(white, 1), rgba(white, 0)), 
    //     linear-gradient(rgba($wvu-black, .9), rgba($wvu-black, .9)), 
    //     url(../images/61.jpg);
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: cover;
    // background-attachment: fixed;
    text-align: center;

    &__layout {
        display: grid;
        grid-gap: 4rem;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }

    li {
        margin-top: 1rem;    
    }

    .button {
        width: 100%;
    }
}

.event {
    $self: &;
    display: flex;
    flex-direction: column;

    &__logo {
        // flex: 0 0 200px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $wvu-yellow;

        #{$self}--podcast & {
            font-family: 'Black Heart';
            font-size: 4rem;
            font-weight: normal;
            line-height: 1;
            letter-spacing: .25rem;
            // text-shadow: 1px 0 white;
        }

        // img {
        //     max-height: 200px;
        // }
    }

    p {
        font-size: 1.5rem;
    }
}

.button {
    display: inline-block;
    padding: .5rem .75rem;
    font-size: 1.125rem;
    background-color: $wvu-yellow;
    border-radius: .25rem;
    color: $wvu-blue;
    font-weight: bold;
    text-align: center;
}




.footer {
    // margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-top: 1px solid rgba(white, .1);

    // .page--podcast & {
        margin-top: auto;
    // }

    // .page--jflow & {
    //     color: $wvu-black;
    // }

    &__layout {
        display: grid;
        grid-gap: 4rem;
        grid-template-columns: auto auto;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        justify-content: space-between;
    }
}

.social {    
    // justify-self: end;

    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        flex: 0 0 auto;
        
        &:nth-last-child(n+2) {
            margin-right: 1rem;
        }
    }

    a {
        display: block;
        color: currentColor;
        text-decoration: none;

        transition-property: color;
        transition-duration: .25s;

        &:hover, &:focus {
            color: $wvu-yellow;
        }
    }

    &__icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: .25rem;
        background-color: currentColor;
    }
    
    svg {
        vertical-align: middle;
        margin-right: .25rem;
        transform: translate(4px, -1px);
        fill: currentColor;
    }
}