@font-face {
    font-family: 'Futura Std';
    src: url('../fonts/FuturaStd-Bold.woff2') format('woff2'),
        url('../fonts/FuturaStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std';
    src: url('../fonts/FuturaStd-Book.woff2') format('woff2'),
        url('../fonts/FuturaStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Black Heart';
    src: url('../fonts/BlackHeart.woff2') format('woff2'),
        url('../fonts/BlackHeart.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$wvu-blue: #002855;
$wvu-yellow: #EAAA00;
$wvu-black: #2C2A29;
$pms-432-c: #333F48;
$pms-429-c: #A2AAAD;
$pms-286-c: #0033A0;
$pms-300-c: #005EB8;

html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: $wvu-blue;
    color: white;
    font-family: 'Futura Std', sans-serif;
    font-size: 100%;    
}

a {
    color: $wvu-yellow;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

h2 {
    margin-top: 2rem;
    margin-bottom: .25em;
}

p {
    margin-top: .25rem;
    margin-bottom: 0;
    font-size: 1.5em;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.page {
    background-image: 
        linear-gradient(rgba(black, .8), rgba(black, .8)),
        url(../images/61.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.layout {
    width: calc(100% - 4rem);
    max-width: 67.5rem; // 1080px
    margin-left: auto; 
    margin-right: auto;
}

.header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;

    h1 {
        font-size: 1em;
        font-weight: normal;
        text-transform: none;
    }
}

.footer {
    margin-top: 4rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-top: 1px solid rgba(white, .1);
    font-size: 1.125em;
    text-align: center;

    nav {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    
        li {
            flex: 0 0 auto;
        }

        &:first-child li {
            @media screen and (min-width: 600px) {
                &:first-child {
                    order: 1;
                }

                &:nth-child(2) {
                    order: 2;
                }

                &:nth-child(3) {
                    order: 4;
                }

                &:nth-child(4) {
                    order: 5;
                }
            }

            &:last-child {
                flex-basis: 100%;

                @media screen and (min-width: 600px) {
                    flex-basis: auto;
                    order: 3;
                }
            }
        }
    
        a {
            display: block;
            margin-top: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;
            color: currentColor;
            text-decoration: none;
    
            transition-property: color;
            transition-duration: .25s;
    
            &:hover, &:focus {
                color: $wvu-yellow;
            }
        }

        img {
            width: 120px;
        }
        
        svg {
            vertical-align: middle;
            margin-right: .25rem;
            transform: translate(4px, -1px);
            fill: currentColor;
        }
    }
}

.events {
    padding-top: 4rem;
    text-align: center;

    &__layout {
        display: grid;
        grid-gap: 4rem;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }

    li {
        margin-top: 1rem;    
    }

    .button {
        width: 100%;
    }
}

.event {
    $self: &;
    display: flex;
    flex-direction: column;

    &__logo {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $wvu-yellow;

        #{$self}--podcast & {
            font-family: 'Black Heart';
            font-size: 4rem;
            font-weight: normal;
            line-height: 1;
            letter-spacing: .25rem;
        }
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
    }
}

.button {
    display: inline-block;
    padding: .5rem .75rem;
    font-size: 1.125rem;
    background-color: $wvu-yellow;
    border-radius: .25rem;
    color: $wvu-blue;
    font-weight: bold;
    text-align: center;

    &--spotify {
        background-color: white;
        color: #1DB954;
    }

    img {
        display: block;
    }
}

.podcast {
    text-align: center;

    &__photo {
        width: 100%;
    }

    &__layout {
        position: relative;
        margin-top: -16rem;
        padding-top: 8rem;
        background-image: linear-gradient(rgba(black, 0), rgba(black, 1) 16rem, rgba( black, 0));
    }

    &__logo {
        font-family: 'Black Heart';
        color: $wvu-yellow;
        font-size: 3rem;
        font-weight: normal;
        line-height: .8;
        letter-spacing: .25rem;
        text-shadow: 1px 0 white;
    
        @media screen and (min-width: 400px) {
            font-size: 4rem;
        }
    
        @media screen and (min-width: 600px) {
            font-size: 8.5rem;
        }
    }

    &__subscriptions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    &__subscribe {
        flex: 0 0 auto;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    &__player {
        overflow: hidden;
        margin-top: 2rem;
        background-color: #ddd;
        border-radius: .125rem;
        box-shadow: 0 .25rem .5rem black;

        iframe {
            display: block;
        }
    }
}