@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/FuturaStd-Bold.woff2") format("woff2"), url("../fonts/FuturaStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/FuturaStd-Book.woff2") format("woff2"), url("../fonts/FuturaStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Black Heart';
  src: url("../fonts/BlackHeart.woff2") format("woff2"), url("../fonts/BlackHeart.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  background-color: #002855;
  color: white;
  font-family: 'Futura Std', sans-serif;
  font-size: 100%; }

a {
  color: #EAAA00; }

h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase; }

h2 {
  margin-top: 2rem;
  margin-bottom: .25em; }

p {
  margin-top: .25rem;
  margin-bottom: 0;
  font-size: 1.5em; }

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none; }

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute; }

.page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/61.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.layout {
  width: calc(100% - 4rem);
  max-width: 67.5rem;
  margin-left: auto;
  margin-right: auto; }

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: center; }
  .header h1 {
    font-size: 1em;
    font-weight: normal;
    text-transform: none; }

.footer {
  margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 1.125em;
  text-align: center; }
  .footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .footer nav li {
    flex: 0 0 auto; }
  @media screen and (min-width: 600px) {
    .footer nav:first-child li:first-child {
      order: 1; }
    .footer nav:first-child li:nth-child(2) {
      order: 2; }
    .footer nav:first-child li:nth-child(3) {
      order: 4; }
    .footer nav:first-child li:nth-child(4) {
      order: 5; } }
  .footer nav:first-child li:last-child {
    flex-basis: 100%; }
    @media screen and (min-width: 600px) {
      .footer nav:first-child li:last-child {
        flex-basis: auto;
        order: 3; } }
  .footer nav a {
    display: block;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: currentColor;
    text-decoration: none;
    transition-property: color;
    transition-duration: .25s; }
    .footer nav a:hover, .footer nav a:focus {
      color: #EAAA00; }
  .footer nav img {
    width: 120px; }
  .footer nav svg {
    vertical-align: middle;
    margin-right: .25rem;
    transform: translate(4px, -1px);
    fill: currentColor; }

.events {
  padding-top: 4rem;
  text-align: center; }
  .events__layout {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); }
  .events li {
    margin-top: 1rem; }
  .events .button {
    width: 100%; }

.event {
  display: flex;
  flex-direction: column; }
  .event__logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #EAAA00; }
    .event--podcast .event__logo {
      font-family: 'Black Heart';
      font-size: 4rem;
      font-weight: normal;
      line-height: 1;
      letter-spacing: .25rem; }
  .event img {
    width: auto;
    height: auto;
    max-width: 100%; }

.button {
  display: inline-block;
  padding: .5rem .75rem;
  font-size: 1.125rem;
  background-color: #EAAA00;
  border-radius: .25rem;
  color: #002855;
  font-weight: bold;
  text-align: center; }
  .button--spotify {
    background-color: white;
    color: #1DB954; }
  .button img {
    display: block; }

.podcast {
  text-align: center; }
  .podcast__photo {
    width: 100%; }
  .podcast__layout {
    position: relative;
    margin-top: -16rem;
    padding-top: 8rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0), black 16rem, rgba(0, 0, 0, 0)); }
  .podcast__logo {
    font-family: 'Black Heart';
    color: #EAAA00;
    font-size: 3rem;
    font-weight: normal;
    line-height: .8;
    letter-spacing: .25rem;
    text-shadow: 1px 0 white; }
    @media screen and (min-width: 400px) {
      .podcast__logo {
        font-size: 4rem; } }
    @media screen and (min-width: 600px) {
      .podcast__logo {
        font-size: 8.5rem; } }
  .podcast__subscriptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem; }
  .podcast__subscribe {
    flex: 0 0 auto;
    margin-left: .5rem;
    margin-right: .5rem; }
  .podcast__player {
    overflow: hidden;
    max-width: 800px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddd;
    border-radius: .125rem;
    box-shadow: 0 .25rem .5rem black; }
    .podcast__player iframe {
      display: block; }
