@font-face {
  font-family: "Futura Std";
  src: url("../fonts/FuturaStd-Bold.woff2") format("woff2"), url("../fonts/FuturaStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Futura Std";
  src: url("../fonts/FuturaStd-Book.woff2") format("woff2"), url("../fonts/FuturaStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Black Heart";
  src: url("../fonts/BlackHeart.woff2") format("woff2"), url("../fonts/BlackHeart.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../images/61.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  font-family: "Futura Std", sans-serif;
  font-size: 100%; }

a {
  color: #eaaa00;
  transition-property: background-color, color;
  transition-duration: .25s; }

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase; }

h2 {
  margin-top: 2rem;
  margin-bottom: 0.25em; }

p {
  margin-top: 0.25rem;
  margin-bottom: 0;
  font-size: 1.5em; }

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none; }

img {
  display: inline-block; }

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute; }

.layout {
  width: calc(100% - 4rem);
  max-width: 67.5rem;
  margin-left: auto;
  margin-right: auto; }

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: center; }
  .header h1 {
    font-size: 1em;
    font-weight: normal; }
  .header a {
    color: white;
    text-decoration: none; }
    .header a:hover, .header a:focus {
      color: #eaaa00; }

.footer {
  margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 1.125em;
  text-align: center; }
  .footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .footer nav li {
    flex: 0 0 auto; }
  @media screen and (min-width: 600px) {
    .footer nav:first-child li:first-child {
      order: 1; }
    .footer nav:first-child li:nth-child(2) {
      order: 3; } }
  .footer nav:first-child li:last-child {
    flex-basis: 100%; }
    @media screen and (min-width: 600px) {
      .footer nav:first-child li:last-child {
        flex-basis: auto;
        order: 2; } }
  .footer nav a {
    display: block;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: currentColor;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.25s; }
    .footer nav a:hover, .footer nav a:focus {
      color: #eaaa00; }
  .footer nav img {
    width: 120px; }
  .footer nav svg {
    vertical-align: middle;
    margin-right: 0.25rem;
    transform: translate(4px, -1px);
    fill: currentColor; }

.events {
  padding-top: 4rem;
  text-align: center; }
  .events__layout {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); }
  .events li {
    margin-top: 1rem; }
  .events .button {
    width: 100%; }

.event {
  display: flex;
  flex-direction: column; }
  .event__logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #eaaa00; }
    .event--podcast .event__logo {
      font-family: "Black Heart";
      font-size: 4rem;
      font-weight: normal;
      line-height: 1;
      letter-spacing: 0.25rem; }
  .event img {
    width: auto;
    height: auto;
    max-width: 100%; }

.button {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  font-size: 1.125rem;
  background-color: #eaaa00;
  border-radius: 0.25rem;
  color: #002855;
  font-weight: bold;
  text-align: center;
  transition-property: background-color, color;
  transition-duration: .25s; }
  .button:hover {
    background-color: white;
    color: #002855; }
  .button--blue {
    background-color: #002855;
    color: white; }
  .button img {
    display: block; }

.podcast {
  text-align: center; }
  .podcast__photo {
    width: 100%; }
  .podcast__layout {
    position: relative;
    margin-top: -16rem;
    padding-top: 8rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0), black 16rem, rgba(0, 0, 0, 0)); }
  .podcast__logo {
    font-family: "Black Heart";
    color: #eaaa00;
    font-size: 3rem;
    font-weight: normal;
    line-height: 0.8;
    letter-spacing: 0.25rem;
    text-shadow: 1px 0 white; }
    @media screen and (min-width: 400px) {
      .podcast__logo {
        font-size: 4rem; } }
    @media screen and (min-width: 600px) {
      .podcast__logo {
        font-size: 8.5rem; } }
  .podcast__subscriptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem; }
    .podcast__subscriptions li {
      flex: 0 0 auto; }
    .podcast__subscriptions a {
      display: block;
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
  .podcast__player {
    overflow: hidden;
    max-width: 800px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddd;
    border-radius: 0.125rem;
    box-shadow: 0 0.25rem 0.5rem black; }
    .podcast__player iframe {
      display: block; }

.tbt-section {
  text-align: center; }
  .tbt-section--overlay {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) repeat(3, 360px) minmax(1rem, 1fr);
    text-align: left; }
  .tbt-section--4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/alumni-game-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .tbt-section--white, .tbt-section--5, .tbt-section--7 {
    background-color: rgba(255, 255, 255, 0.9);
    color: #002855; }
  .tbt-section--6 {
    background-color: rgba(0, 40, 85, 0.6); }
  .tbt-section--carousel {
    overflow: hidden;
    text-align: left; }
  .tbt-section__text {
    grid-column: span 3;
    padding-top: 4rem;
    padding-bottom: 4rem; }
    .tbt-section--header .tbt-section__text {
      padding-top: 2rem;
      padding-bottom: 2rem; }
    .tbt-section--overlay .tbt-section__text {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .tbt-section--1 .tbt-section__text {
      background-image: linear-gradient(rgba(0, 40, 85, 0.96), rgba(0, 40, 85, 0.96)), url(../images/alumni-game-01.jpg); }
    .tbt-section--3 .tbt-section__text {
      background-image: linear-gradient(rgba(234, 170, 0, 0.96), rgba(234, 170, 0, 0.94)), url(../images/alumni-game-01.jpg); }
    .tbt-section--overlay .tbt-section__text div {
      max-width: 720px; }
    .tbt-section--overlay .tbt-section__text:first-child div {
      float: right;
      padding-right: 6rem; }
    .tbt-section--overlay .tbt-section__text:last-child div {
      padding-left: 6rem; }
  .tbt-section__image {
    grid-column: span 2;
    width: 100%; }
    .tbt-section__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .tbt-section h2 {
    margin-top: 0;
    font-size: 2.5em;
    line-height: 1; }
  .tbt-section p {
    margin-top: 1em; }
  .tbt-section__disclaimer {
    font-size: 1em; }

.carousel {
  position: relative;
  width: calc(100% - 8rem); }
  .carousel__slides {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 0;
    margin-left: -1rem;
    padding-left: 0;
    list-style-type: none;
    transition-property: transform;
    transition-duration: 1s;
    will-change: transition; }
  .carousel__slide {
    flex: 0 0 auto;
    height: 400px;
    padding-left: 1rem;
    padding-right: 1rem; }
  .carousel img {
    width: auto;
    height: 100%; }
  .carousel__controls {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem; }
  .carousel__control {
    padding: 1.75rem .75rem;
    background-color: #eaaa00;
    border: none;
    cursor: pointer; }
    .carousel__control--previous {
      transform: translateX(-3.5rem); }
    .carousel__control--next {
      transform: translateX(3.5rem); }
    .carousel__control svg {
      display: block;
      fill: #002855; }
    .carousel__control--previous svg {
      transform: rotate(180deg) translateX(2px); }
    .carousel__control--next svg {
      transform: translateX(2px); }
