html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #2B1848;
    color: white;
}

a {
    color: #47e49f;
    transition-property: color, background-color, text-shadow;
    transition-duration: .25s;
}

a:hover, a:focus {
    color: #1ecf82;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 1.5;
    margin-bottom: .25em;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 500;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

b, strong {
    font-weight: 700;
}

.u-visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
}

.layout-container {
    width: calc(100% - 2rem);
    max-width: 87.5rem;
    margin: 1rem auto;
    background-color: #5031a9;
    border-top: 1rem solid #4c2da2;
}

@media screen and (min-width: 82.5em) {
    .layout-container {
        width: calc(100% - 10rem);
        margin: 4rem auto;
        display: flex;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: 35rem 1fr;
    }
}

.about, .work {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (min-width: 52.5em) {
    .about, .work {
        margin-top: 4rem;
        margin-bottom: 4rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }    
}

.about {
    max-width: 52.5rem;
}

@media screen and (min-width: 82.5em) {
    .about {
        flex: 0 0 35rem;
    }    
}

.logo {
    width: 6.25rem;
    max-height: 4.3125rem;
    fill: #47e49f;
}

.about p {
    font-size: 1.5rem;
    line-height: 1.4;
}

.buttons {
    display: flex;
    margin-top: 2rem;
}

.button {
    display: block;
    text-decoration: none;
    font-weight: 500;
    border-radius: .125rem;
    padding: .75rem 1rem;
    color: #4c2da2;
    background-color: #47e49f;
    margin-right: 1rem;
}

.button:hover, .button:focus {
    color: white;
    background-color: #1ecf82;
    text-shadow: 0 .0625rem .125rem rgba(0, 0, 0, .25);
}

.work {
    margin-top: 4rem;
}

@media screen and (min-width: 82.5em) {
    .work {
        flex: 1;
        padding-left: 0;
        padding-right: 0;
        transform: translateX(2rem);
    }    
}

@media screen and (min-width: 46.25em) {
    .work__list {
        display: flex;
        flex-wrap: wrap;
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
    }  
}

@media screen and (min-width: 68.75em) {
    .work__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 82.5em) {
    .work__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For Edge and any other browsers that doesn't support CSS grid layout */
@supports not (display:grid) {
    @media screen and (min-width: 46.25em) {
        .work__list {
            margin-right: -2rem;
        }
    }
}

/* For IE 10 and 11 */
@media screen and (min-width: 46.25em) and (-ms-high-contrast:none), (-ms-high-contrast:active) {
    .work__list {
        margin-right: -2rem;
    }
}

.work__item {
    background-color: white;
    color: #4c2da2;
    box-shadow: 0 1rem 2.25rem rgba(0, 0, 0, .15), 0 .375rem 1rem rgba(0, 0, 0, .12);
    display: flex;
    flex-direction: column;
    transition-property: transform;
    transition-duration: .25s;
    will-change: transform;
}

.work__item:nth-child(n+2) {
    margin-top: 2rem;
}

@media screen and (min-width: 46.25em) {
    .work__item {
        flex: 0 0 50%;
    }

    .work__item:nth-child(n) {
        margin-top: 0;
    }

    .work__item:nth-child(n+3) {
        margin-top: 2rem;
    }
}

/* For Edge and any other browsers that doesn't support CSS grid layout */
@supports not (display:grid) {
    @media screen and (min-width: 46.25em) {
        .work__item {
            max-width: calc(50% - 2rem);
        }

        .work__item:nth-child(odd) {
            margin-right: 2rem;
        }
    }
}

/* For IE 10 and 11 */
@media screen and (min-width: 46.25em) and (-ms-high-contrast:none), (-ms-high-contrast:active) {
    .work__item {
        max-width: calc(50% - 2rem);
    }

    .work__item:nth-child(odd) {
        margin-right: 2rem;
    }
}

@media screen and (min-width: 68.75em) {
    .work__item {
        flex: 0 0 33.33%;
    }

    .work__item:nth-child(n) {
        margin-top: 0;
    }

    .work__item:nth-child(n+4) {
        margin-top: 2rem;
    }
}

/* For Edge and any other browsers that doesn't support CSS grid layout */
@supports not (display:grid) {
    @media screen and (min-width: 68.75em) {
        .work__item {
            max-width: calc(33.33% - 2rem);
        }

        .work__item:nth-child(n) {
            margin-right: 2rem;
        }

        .work__item:nth-child(3n+3) {
            margin-right: 0;
        }
    }
}

/* For IE 10 and 11 */
@media screen and (min-width:68.75em) and (-ms-high-contrast:none), (-ms-high-contrast:active) {
    .work__item {
        max-width: calc(33.33% - 2rem);
    }

    .work__item:nth-child(n) {
        margin-right: 2rem;
    }

    .work__item:nth-child(3n+3) {
        margin-right: 0;
    }
}

@media screen and (min-width: 82.5em) {
    .work__item {
        flex: 0 0 50%;
    }

    .work__item:nth-child(n+3) {
        margin-top: 2rem;
    }
}

/* For Edge and any other browsers that doesn't support CSS grid layout */
@supports not (display:grid) {
    @media screen and (min-width: 82.5em) {
        .work__item {
            max-width: calc(50% - 2rem);
        }

        .work__item:nth-child(n) {
            margin-right: 2rem;
        }

        .work__item:nth-child(2n+2) {
            margin-right: 0;
        }
    }
}

/* For IE 10 and 11 */
@media screen and (min-width:82.5em) and (-ms-high-contrast:none), (-ms-high-contrast:active) {
    .work__item {
        max-width: calc(50% - 2rem);
    }

    .work__item:nth-child(n) {
        margin-right: 2rem;
    }

    .work__item:nth-child(2n+2) {
        margin-right: 0;
    }
}

.work__item[data-hover="true"] {
    transform: scale(1.01);
}

.work__image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;

    flex: 0 0 auto;
}

.work__title {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: .75rem;
    font-size: 1.25rem;
}

.work__roles {
    margin-top: 0;
    margin-bottom: 1.75rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    font-size: .875rem;
}

.work__role {
    margin-bottom: .25rem;
    margin-left: 0;
    margin-right: .25rem;
    background-color: rgba(0, 0, 0, .06);
    padding: .125rem .25rem;
    border-radius: .125rem;
}

.work__link {
    display: block;
    text-decoration: none;
    background-color: white;
    padding: 1rem 1rem 1rem;
    line-height: 1;
    margin-top: auto;
    font-weight: 500;
    text-align: center;
}

.work__link:hover, .work__link:focus {
    color: white;
    background-color: #47e49f;
    text-shadow: 0 .0625rem .125rem rgba(0, 0, 0, .25);
}

.footer {
    flex: 0 0 auto;
    width: 100%;
    grid-column: span 2;
    padding: 1rem 2rem;
    background-color: #4c2da2;
}