html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #2B1848;
    /* background-color: #2644a6; */
    color: white;
}

a {
    color: #47e49f;
    /* color: #ff7050; */
    transition-property: color, background-color, transform;
    transition-duration: .25s;
}

a:hover, a:focus {
    /* color: #ffc600; */
    color: #1ecf82;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 1.5;
    margin-bottom: .25em;
}

h2 {
    font-size: 2.5rem;
    margin-top: 2em;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 500;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

b, strong {
    font-weight: 700;
}

.layout-container {
    width: calc(100% - 2rem);
    max-width: 87.5rem;
    margin: 1rem auto;
    background-color: #5031a9;
    /* background-color: #375bcd; */
    border-top: 1rem solid #4c2da2;
    /* border-color: #2b4bb2; */
}

@media screen and (min-width: 81.25em) {
    .layout-container {
        width: calc(100% - 10rem);
        margin: 4rem auto;

        display: flex;
        flex-wrap: wrap;

        display: grid;
        grid-template-columns: 35rem 1fr;
    }
}

.about, .work {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (min-width: 52.5em) {
    .about, .work {
        margin-top: 4rem;
        margin-bottom: 4rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }    
}

.about {
    max-width: 52.5rem;
}

@media screen and (min-width: 81.25em) {
    .about {
        flex: 0 0 35rem;
    }    
}

.logo {
    width: 6.25rem;
    fill: #47e49f;
}

.about p {
    font-size: 1.5rem;
    line-height: 1.4;
}

.buttons {
    display: flex;
    margin-top: 2rem;
}

.button {
    display: block;
    text-decoration: none;
    font-weight: 500;
    border-radius: .125rem;
    padding: .75rem 1rem;
    color: #4c2da2;
    background-color: #47e49f;
    /* background-color: #ff7050; */
    margin-right: 1rem;
}

.button:hover, .button:focus {
    color: white;
    background-color: #1ecf82;
    transform: translateY(-.125rem);
    text-shadow: 0 .0625rem .125rem rgba(0, 0, 0, .25);
}

@media screen and (min-width: 81.25em) {
    .work {
        flex: 1;
        padding-left: 0;
        padding-right: 0;
    }    
}

@media screen and (min-width: 46.25em) {
    .work__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        /* grid-gap: 2rem; */
        grid-column-gap: 2rem;
    }  
}

@media screen and (min-width: 81.25em) {
    .work__list {
        grid-template-columns: repeat(2, 1fr); 

        transform: translateX(2rem);
    }
}

@media screen and (min-width: 46.25em) {
    .work__item {
        flex: 0 0 50%;
        /* max-width: 25.25rem; */
    }
}

.work__item:nth-child(n+2) {
    margin-top: 2rem;
}

@media screen and (min-width: 46.25em) {
    .work__item:nth-child(n) {
        margin-top: 0;
    }

    .work__item:nth-child(n+3) {
        margin-top: 2rem;
    }
}

.work__link {
    display: block;
    text-decoration: none;
    background-color: white;
    height: 100%;
    box-shadow: 0 1rem 2.25rem rgba(0, 0, 0, .15), 
                0 .375rem 1rem rgba(0, 0, 0, .12);
}

.work__link:hover, .work__link:focus {
    color: white;
    background-color: #47e49f;
    transform: translateY(-.25rem);
}

.work__title {
    padding: 1rem;
    font-size: 1.125rem;
}

.work__image {
    width: 100%;
    height: auto;
}

.footer {
    flex: 0 0 auto;
    width: 100%;

    grid-column: span 2;

    padding: 1rem 2rem;
    background-color: #4c2da2;
    /* background-color: #2b4bb2; */
}