{% assign projects = site.projects | sort: 'order' | reverse %}
{%- if projects.size > 0 -%}
    <div class="{{ section.slug }}">
        <div class="container">
            <h2 id="{{ section.slug }}">{{ section.title }}</h2>
            
            {{ section.content }}

            <div class="projects">
                {%- for post in projects -%}
                    {%- unless post.parent -%}
                        {% assign class_list = "project" %}
                        {% assign has_related_projects = false %}

                        {% if post.slug %}
                            {% assign class_list = class_list | append: " project--" | append: post.slug %}
                        {% endif %}

                        {% for otherPost in projects %}
                            {% if otherPost.title != post.title and otherPost.parent == post.title %}
                                {% assign has_related_projects = true %}
                                {% break %}
                            {% endif %}
                        {% endfor %}

                        {% if has_related_projects %}
                            {% assign class_list = class_list | append: " project--has-related" %}
                        {% endif %}

                        <a href="{{ post.url | relative_url }}" class="{{ class_list }}">
                            <figure>
                                <div class="project__thumbs">
                                    <div class="project__thumbs-container">
                                        <div class="project__thumb">
                                            <img src="{{ site.baseurl }}/assets/images/{{ post.url }}/thumb-01.jpg" alt="" width="400" height="300">
                                        </div>
                                        <div class="project__thumb">
                                            <img src="{{ site.baseurl }}/assets/images/{{ post.url }}/thumb-02.jpg" alt="" width="400" height="300">
                                        </div>
                                        <div class="project__thumb">
                                            <img src="{{ site.baseurl }}/assets/images/{{ post.url }}/thumb-03.jpg" alt="" width="400" height="300">
                                        </div>
                                    </div>
                                </div>

                                <figcaption>{{ post.title | escape }}</figcaption>
                            </figure>
                        </a>
                    
                        {% if has_related_projects %}
                            {% assign related_projects = site.projects | where: "parent", post.title | reverse %}

                            <!-- {% list_projects parent=post.title %} -->

                            <dl class="card related">
                                <dt>WVU Health Microsites</dt>

                                {%- for related_project in related_projects -%}
                                    <dd>
                                        <a href="{{ related_project.url | relative_url }}">
                                            <span>{{ related_project.title | escape }}</span>
                                        </a> 
                                    </dd>
                                {%- endfor -%}
                            </dl>
                        {% endif %}
                    {%- endunless -%}
                {%- endfor -%}
            </div>
        </div>
    </div>
{%- endif -%}
