html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  background-color: #002855;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  text-transform: uppercase; }

a {
  color: #EAAA00; }

/* p, li {
    font-size: 1.25em;
} */
h1, h2 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-top: .25rem;
  margin-bottom: 0; }

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none; }

.layout {
  width: calc(100% - 2rem);
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-height: 720px;
  min-height: 600px;
  background-image: url(final-fourcast.jpg);
  background-image: linear-gradient(rgba(0, 40, 85, 0.8), rgba(0, 40, 85, 0.8), #002855), url(final-fourcast-resized.jpg);
  background-image: linear-gradient(to right, rgba(0, 40, 85, 0.8), rgba(0, 40, 85, 0.8), #002855), url(final-fourcast-resized-1440x600.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.heading {
  color: #EAAA00;
  font-size: 6.5rem;
  font-size: 6rem;
  font-weight: 800;
  line-height: .8; }

.subheading {
  margin-top: 1rem;
  color: white;
  font-size: 1.625rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4; }

img {
  display: block;
  width: 100%;
  height: auto; }

.player {
  margin-top: 2rem; }

.play {
  display: block;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 4px solid red;
  border-radius: 100%; }

.info {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

.info__layout {
  display: flex;
  justify-content: space-between; }

.advertise, .social {
  padding-top: 2rem; }

.social__items {
  display: flex;
  margin-top: .25rem; }

.social__icon {
  vertical-align: middle;
  transform: translateY(-2px); }
