$wvu-blue: #002855;
$wvu-yellow: #EAAA00;
$wvu-black: #2C2A29;
$pms-432-c: #333F48;
$pms-429-c: #A2AAAD;
$pms-286-c: #0033A0;
$pms-300-c: #005EB8;
$facebook: #3b5999;
$instagram: #d93175;
$twitter: #55acee;


html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: $pms-432-c;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

a {
    color: $wvu-yellow;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    margin-bottom: .25em;
}

p {
    margin-top: .25rem;
    margin-bottom: 0;
    // font-weight: 700;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.layout {
    width: calc(100% - 2rem);
    max-width: 1040px;
    margin-left: auto; 
    margin-right: auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 720px;
    background-image: 
        linear-gradient(to right, rgba($pms-286-c, .86), rgba($wvu-blue, .9)), 
        url(final-fourcast-resized-1440x600.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.heading {
    color: $wvu-yellow;
    font-size: 6rem;
    font-weight: 800;
    line-height: .8;
}

.subheading {
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.player {
    margin-top: 2rem;
    background-color: mix($wvu-blue, white, 12%);

    &__header {
        background-color: white;
        padding: 1rem 1rem 2.5rem;
    }

    &__title {
        font-size: 1.5em;
        // font-weight: 800;
        line-height: 1.2;
    }

    &__actions {
        display: flex;
        align-items: center;
        margin-top: -2rem;
        padding: 1rem;
    }

    &__button {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: $wvu-blue;
        border: none;

        &-icon {
            transform: translateX(.125rem);
            fill: white;
        }
    }

    &__progress {
        flex: 1;
        height: .5rem;
        margin-left: 2rem;
        margin-right: 1rem;
        border-radius: .25rem;
        background-color: mix($wvu-blue, white, 6%);
    }
}

.info {
    margin-top: 2rem; 
    padding-bottom: 2rem; 
    border-top: 1px solid rgba(white, .1);
}

.info__layout {
    display: flex;
    justify-content: space-between;
}

.advertise, .social {
    flex: 1;
    padding-top: 2rem;
}

.social {    
    &__items {
        display: flex;
    }

    &__item {
        & + & {
            margin-left: 1rem;
        }

        &--facebook a {
            color: $facebook;
        }

        &--instagram a {
            color: $instagram;
            // background-image: 
            //     radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
            //     radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
            //     radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
            //     radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
            //     radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
            //     radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
            //     radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
            //     linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        }

        &--twitter a {
            color: $twitter;
        }
    }

    a {
        display: block;
        text-decoration: none;
    }

    &__icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: .25rem;
        background-color: currentColor;
    }
    
    svg {
        vertical-align: middle;
        margin-right: .25rem;
        transform: translate(4px, -1px);
        fill: currentColor;
    }
}