@font-face {
    font-family: 'Futura Std';
    src: url('FuturaStd-Bold.woff2') format('woff2'),
        url('FuturaStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std';
    src: url('FuturaStd-Book.woff2') format('woff2'),
        url('FuturaStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$wvu-blue: #002855;
$wvu-yellow: #EAAA00;
$wvu-black: #2C2A29;
$pms-432-c: #333F48;
$pms-429-c: #A2AAAD;
$pms-286-c: #0033A0;
$pms-300-c: #005EB8;
$apple: black;
$spotify: #1DB954;
$tunein: #14D8CC;
$stitcher: black;
$facebook: #3b5999;
$instagram: #d93175;
$twitter: #55acee;


html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: $wvu-blue;
    color: white;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Futura Std';
    font-size: 100%;
}

a {
    color: $wvu-yellow;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

h2 {
    margin-bottom: .25em;
}

p {
    margin-top: .25rem;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-image: 
        linear-gradient(to right, rgba($pms-286-c, .9), rgba($wvu-blue, .94)), 
        url(final-fourcast-resized-1440x600.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.layout {
    width: calc(100% - 2rem);
    max-width: 67.5rem; // 1080px
    margin-left: auto; 
    margin-right: auto;
}

.heading {
    color: $wvu-yellow;
    font-size: 3rem;
    line-height: .8;

    @media screen and (min-width: 400px) {
        font-size: 4rem;
    }

    @media screen and (min-width: 600px) {
        font-size: 6rem;
    }
}

.subheading {
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
}

.listen {
    display: inline-block;
    height: 34px;
    padding: .25rem;
    border-radius: .125rem;
    background-color: black;
    color: white;

    &--apple {
        background-color: $apple;
    }
    
    &--spotify {
        background-color: $spotify;
    }

    &--tunein {
        background-color: $tunein;
    }

    &--stitcher {
        background-color: $stitcher;
    }
}

.player {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10rem;

    &__title {
        flex: 1;
        order: 2;
        margin-left: 1rem;
        font-size: 1.5em;
        line-height: 1.2;
    }

    &__button {
        flex: 0 0 auto;
        order: 1;
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: transparent;
        border: .125rem solid white;
        color: white;
        cursor: pointer;

        transition-property: border-color, color;
        transition-duration: .25s;

        &:hover, &:focus {
            border-color: $wvu-yellow;
            color: $wvu-yellow;
        }

        &-icon {
            transform: translateX(.125rem);
            fill: currentColor;
        }

        // &:hover &-icon, &:focus &-icon {
        //     fill: currentColor;
        // }
    }

    &__progress {
        flex: 0 0 100%;
        order: 3;
        height: .25rem;
        margin-top: 1rem;
        border-radius: .125rem;
        background-color: rgba(white, .4);
        background-image: linear-gradient(to right, $wvu-yellow, $wvu-yellow 25%, transparent 25%, transparent);
    }
}

.info {
    margin-top: 2rem;
    border-top: 1px solid rgba(white, .1);
}

.info__layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advertise, .social {
    max-width: calc(100% - 2rem);
    padding-top: 4rem;
}

.social {    
    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        flex: 0 0 auto;
        
        &:nth-last-child(n+2) {
            margin-right: 1rem;
        }

        // &--facebook a {
        //     color: $facebook;
        // }

        // &--instagram a {
        //     color: $instagram;
            // background-image: 
            //     radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
            //     radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
            //     radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
            //     radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
            //     radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
            //     radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
            //     radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
            //     linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        // }

        // &--twitter a {
        //     color: $twitter;
        // }
    }

    a {
        display: block;
        color: currentColor;
        text-decoration: none;

        transition-property: color;
        transition-duration: .25s;

        &:hover, &:focus {
            color: $wvu-yellow;
        }
    }

    &__icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: .25rem;
        background-color: currentColor;
    }
    
    svg {
        vertical-align: middle;
        margin-right: .25rem;
        transform: translate(4px, -1px);
        fill: currentColor;
    }
}

.jflow-bug {
    position: absolute; 
    top: 2rem; 
    right: 2rem; 
    padding: 2rem; 
    background-color: rgba(white, .1);
    color: white;
    font-weight: bold;
    text-decoration: none;
}