html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  color: #333F48;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%; }

a {
  color: #EAAA00; }

h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 800;
  text-transform: uppercase; }

h2 {
  margin-bottom: .25em; }

p {
  margin-top: .25rem;
  margin-bottom: 0; }

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none; }

.layout {
  width: calc(100% - 2rem);
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 720px;
  background-image: linear-gradient(to right, rgba(0, 51, 160, 0.86), rgba(0, 40, 85, 0.9)), url(final-fourcast-resized-1440x600.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.heading {
  color: #EAAA00;
  font-size: 6rem;
  font-weight: 800;
  line-height: .8; }

.subheading {
  margin-top: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase; }

img {
  display: block;
  width: 100%;
  height: auto; }

.player {
  margin-top: 2rem;
  background-color: #e0e5eb; }
  .player__header {
    background-color: white;
    padding: 1rem 1rem 2.5rem; }
  .player__title {
    font-size: 1.5em;
    line-height: 1.2; }
  .player__actions {
    display: flex;
    align-items: center;
    margin-top: -2rem;
    padding: 1rem; }
  .player__button {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: #002855;
    border: none; }
    .player__button-icon {
      transform: translateX(0.125rem);
      fill: white; }
  .player__progress {
    flex: 1;
    height: .5rem;
    margin-left: 2rem;
    margin-right: 1rem;
    border-radius: .25rem;
    background-color: #f0f2f5; }

.info {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

.info__layout {
  display: flex;
  justify-content: space-between; }

.advertise, .social {
  flex: 1;
  padding-top: 2rem; }

.social__items {
  display: flex; }

.social__item + .social__item {
  margin-left: 1rem; }

.social__item--facebook a {
  color: #3b5999; }

.social__item--instagram a {
  color: #d93175; }

.social__item--twitter a {
  color: #55acee; }

.social a {
  display: block;
  text-decoration: none; }

.social__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: .25rem;
  background-color: currentColor; }

.social svg {
  vertical-align: middle;
  margin-right: .25rem;
  transform: translate(4px, -1px);
  fill: currentColor; }
