@font-face {
  font-family: 'Futura Std';
  src: url("FuturaStd-Bold.woff2") format("woff2"), url("FuturaStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Futura Std';
  src: url("FuturaStd-Book.woff2") format("woff2"), url("FuturaStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  background-color: #002855;
  color: white;
  font-family: 'Futura Std';
  font-size: 100%; }

a {
  color: #EAAA00; }

h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase; }

h2 {
  margin-bottom: .25em; }

p {
  margin-top: .25rem;
  margin-bottom: 0; }

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none; }

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: linear-gradient(to right, rgba(0, 51, 160, 0.9), rgba(0, 40, 85, 0.94)), url(final-fourcast-resized-1440x600.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.layout {
  width: calc(100% - 2rem);
  max-width: 67.5rem;
  margin-left: auto;
  margin-right: auto; }

.heading {
  color: #EAAA00;
  font-size: 3rem;
  line-height: .8; }
  @media screen and (min-width: 400px) {
    .heading {
      font-size: 4rem; } }
  @media screen and (min-width: 600px) {
    .heading {
      font-size: 6rem; } }

.subheading {
  margin-top: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase; }

img {
  display: block;
  width: 100%;
  height: auto; }

.player {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10rem; }
  .player__title {
    flex: 1;
    order: 2;
    margin-left: 1rem;
    font-size: 1.5em;
    line-height: 1.2; }
  .player__button {
    flex: 0 0 auto;
    order: 1;
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: transparent;
    border: .125rem solid white;
    color: white;
    cursor: pointer;
    transition-property: border-color, color;
    transition-duration: .25s; }
    .player__button:hover, .player__button:focus {
      border-color: #EAAA00;
      color: #EAAA00; }
    .player__button-icon {
      transform: translateX(0.125rem);
      fill: currentColor; }
  .player__progress {
    flex: 0 0 100%;
    order: 3;
    height: .25rem;
    margin-top: 1rem;
    border-radius: .125rem;
    background-color: rgba(255, 255, 255, 0.4);
    background-image: linear-gradient(to right, #EAAA00, #EAAA00 25%, transparent 25%, transparent); }

.info {
  margin-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

.info__layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.advertise, .social {
  max-width: calc(100% - 2rem);
  padding-top: 4rem; }

.social__items {
  display: flex;
  flex-wrap: wrap; }

.social__item {
  flex: 0 0 auto; }
  .social__item:nth-last-child(n+2) {
    margin-right: 1rem; }

.social a {
  display: block;
  color: currentColor;
  text-decoration: none;
  transition-property: color;
  transition-duration: .25s; }
  .social a:hover, .social a:focus {
    color: #EAAA00; }

.social__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: .25rem;
  background-color: currentColor; }

.social svg {
  vertical-align: middle;
  margin-right: .25rem;
  transform: translate(4px, -1px);
  fill: currentColor; }

.jflow-bug {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: bold;
  text-decoration: none; }
