// Base
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

html {
    box-sizing: border-box;

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: var(--de-body-bg);
    border-top: 0.25rem solid var(--de-emphasis-color);
    color: var(--de-body-color);
    font-family: "Outfit", sans-serif;
    font-size: 100%;
}
