// Base
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
    margin: 0;
    background-color: $de-dark-blue;
    border-top: 0.5rem solid $de-blue;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}
