// Base
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
    margin: 0;
    background-color: var(--de-dark-blue);
    border-top: 0.5rem solid var(--de-blue);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}
