// Figure
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.figure {
    margin: 3rem 0;
    line-height: 1.5;

    @media screen and (min-width: 48em) {
        margin-block: 6rem;
    }

    @media screen and (min-width: 82.5em) {
        &:not(:has(iframe)) {
            margin-inline: -10rem;
        }
    }

    img, video {
        width: 100%; 
        height: auto;
    }

    // p {
    //     display: flex; 
    //     align-items: center; 
    //     min-height: 20rem;
    //     margin-right: auto;
    //     margin-left: auto;
    //     text-align: center;
    // }

    figcaption {
        padding-block: 1rem;
        border-bottom: 1px solid rgba(white, 0.075);
    }
}

.cp_embed_wrapper {
    position: relative;
    aspect-ratio: 4 / 3;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
