// Footer
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

footer {
    margin-top: 8rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    border-top: .125rem solid var(--de-blue);
    text-align: center;
}
