// Footer
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

footer {
    margin-block: 4rem 2rem;
    padding-top: 1em;
    border-top: 2px solid rgba(white, 0.075);
    text-align: center;

    @media screen and (min-width: 48em) {
        margin-block-start: 8rem;
    }
}
