// Footer
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

footer {
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    border-top: 0.125rem solid $de-blue;
    text-align: center;

    @media screen and (min-width: 48em) {
        margin-top: 8rem;
    }

    .home & {
        margin-top: 0;
        border-color: $de-dark-blue;
    }
}
