// Header
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

header {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $de-dark-blue;

    nav {
        margin-bottom: 0;
    }
}
