// Layout
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.container {
    width: calc(100% - 2rem);
    height: 100%;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @media screen and (min-width: 48em) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    h2 {
        margin-top: 0;
    }
}

.my-work {
    background-color: $de-blue;
}
