// Layout
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.container {
    width: calc(100% - 2rem);
    height: 100%;
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
}

.home {
    background-color: $de-blue;
}
