// Layout
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.container {
    // --container-gutter: 2rem;
    // --container-content-max-width: 960px;
    // --container-content-size: min(100% - (var(--container-gutter) * 2), var(--container-content-max-width));
    // --container-breakout-max-width: 1280px;
    // --container-breakout-size: minmax(0, calc((var(--container-breakout-max-width) - var(--container-content-max-width)) / 2));

    // display: grid;
    // grid-template-columns: [full-start] minmax(var(--container-gutter), 1fr) [breakout-start] var(--container-breakout-size) [content-start] var(--container-content-size) [content-end] var(--container-breakout-size) [breakout-end] minmax(var(--container-gutter), 1fr) [full-end];
    width: calc(100% - 2rem);
    height: 100%;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;

    // & > * {
    //     grid-column: content;
    // }
}

// .breakout {
//     grid-column: breakout;
// }

// .full {
//     grid-column: full;
// }

.section {
    --section-vertical-padding: 4rem;

    padding-top: var(--section-vertical-padding);
    padding-bottom: var(--section-vertical-padding);

    @media screen and (min-width: 48em) {
        --section-vertical-padding: 8rem;
    }

    h2 {
        margin-top: 0;
    }
}

.home {
    background-color: $de-blue;
}

.my-work {
    background-color: $de-dark-blue;
    background-image: radial-gradient(ellipse at center bottom, rgba(black, 0.2), rgba(black, 0.2) 50%, transparent 50%, transparent);
    background-position: center bottom -0.75rem;
    background-repeat: no-repeat;
    background-size: 150% 2rem;

    &.prepare h2,
    &.prepare p {
        --smooth-entry-from: 3rem;

        animation-name: SmoothEntryY, FadeIn;
        animation-duration: 0.5s, 0.25s;
        animation-delay: 0.5s;
        animation-timing-function: cubic-bezier(0.18, 0.89, 0.67, 1.16), ease-out;
        animation-fill-mode: both;
    }

    &.prepare p {
        --smooth-entry-from: 3rem;

        animation-name: SmoothEntryY, FadeIn;
        animation-duration: 0.5s, 0.25s;
        animation-delay: 0.5s;
        animation-timing-function: cubic-bezier(0.18, 0.89, 0.67, 1.16), ease-out;
        animation-fill-mode: both;
    }

    @for $i from 1 through 3 {
        &.prepare p:nth-child(#{$i}) {
            animation-delay: ($i * .075) + 0.5s;
        }
    }
}
