// Nav
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

nav {
    display: flex; 
    gap: 1.5rem;
    // justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    a {
        font-size: 1.25rem;
        font-weight: 700;

        &:nth-child(2) {
            margin-left: auto;
        }
    }

    .logo {
        transform: translateY(0);
        width: 6rem;
        fill: darken($de-green, 20%);
        filter: drop-shadow(0.25rem 0.25rem 0 rgba(0, 0, 0, 0));

        transition-property: transform, fill, filter;
        transition-duration: .25s;

        use[clip-path] {
            fill: var(--de-green);
        }
    }

    a:hover .logo, 
    a:focus .logo {
        transform: translate(-0.125rem, -0.125rem);
        filter: drop-shadow(0.25rem 0.25rem 0 rgba(0, 0, 0, .25));
    }
}
