// Nav
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

nav {
    display: flex; 
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media screen and (min-width: 768px) {
        margin-bottom: 8rem;
    }

    a {
        font-size: 1.25rem;
        font-weight: 700;

        &:nth-child(2) {
            margin-left: auto;
        }

        .js & {
            transform: translateY(1rem);
            opacity: 0;
    
            transition-property: transform, opacity;
            transition-duration: 0.5s, 0.25s;
            transition-delay: 1s;
            transition-timing-function: cubic-bezier(0.18, 0.89, 0.67, 1.16), ease-out;
        }

        .is-entering & {
            transform: translateY(0);
            opacity: 1;
        }

        .is-entering &:nth-child(2) {
            transition-delay: 1.25s;
        }

        .is-entering &:nth-child(3) {
            transition-delay: 1.3s; // + 0.05s
        }
    
        .is-leaving & {
            transform: translateY(0);
            opacity: 0;

            transition-delay: 0s;
            transition-timing-function: ease-out;
        }
    }

    .logo {
        transform: translateY(0);
        width: 6rem;
        fill: darken($de-green, 20%);
        filter: drop-shadow(0.25rem 0.25rem 0 rgba(black, 0));

        transition-property: transform, fill, filter;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.35, 0, 0, 1);

        use[clip-path] {
            fill: $de-green;
        }
    }

    a:hover .logo, 
    a:focus .logo {
        transform: translate(-0.125rem, -0.125rem);
        filter: drop-shadow(0.25rem 0.25rem 0 rgba(black, .25));

        transition-duration: 0.5s;
    }
}
