// Nav
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

nav {
    display: flex; 
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    padding-block: 2rem;
    font-size: 1.25rem;
    font-weight: 600;

    @media screen and (max-width: 35.9375em) {
        justify-content: center;

        a:has(.logo) {
            display: flex;
            justify-content: center;
            flex: 100%;
        }
    }

    @media screen and (min-width: 36em) {
        a:nth-child(2) {
            margin-left: auto;
        }
    }

    .logo {
        transform: translateY(0);
        width: 6rem;
        fill: darken($de-green, 20%);
        filter: drop-shadow(4px 4px 0 rgba(black, 0));

        transition-property: transform, fill, filter;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.35, 0, 0, 1);

        use[clip-path] {
            fill: $de-green;
        }
    }

    a:hover .logo, 
    a:focus .logo {
        transform: translate(-0.125rem, -0.125rem);
        filter: drop-shadow(4px 4px 0 rgba(black, 0.5));

        transition-duration: 0.5s;
    }
}
