// Project
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.project-entry {
    $root: &;

    &__client {
        display: inline-block;
        height: 2.5rem;
        margin-left: -1rem;
        padding-left: 1rem;
        padding-right: 0.75rem;
        border-radius: 0.5rem;
        border-top-left-radius: 1.5rem;
        background-color: $de-blue;
        color: white;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 2.5rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    &.prepare h2,
    &.prepare h3,
    &.prepare p,
    &.prepare &__figure {
        opacity: 0;
    }
}
