// Projects
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.projects {
    display: grid;
    gap: 3rem;
    margin-top: 3rem;

    @media screen and (min-width: 60em) {
        grid-template-columns: 1fr 1fr;
    }
}

.project {
    $root: &;

    position: relative;
    width: 100%;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;

    @media screen and (min-width: 36em) {
        aspect-ratio: 1 / 1.2;
    }

    @media screen and (min-width: 60em) {
        grid-row-end: span 3;

        &:first-child {
            grid-column-start: 2;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 1.5rem;
        border-top-left-radius: 8rem;
        background-color: $de-blue;
    }

    figure {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0;
    }

    &__thumb {
        position: relative;
        display: flex;
        place-items: center;
        aspect-ratio: 4 / 3;
        margin-top: 1rem;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        padding: 1.5rem;
        background-color: white;
        // background-image: radial-gradient(circle farthest-side at center top, mix($de-blue, white, 2%), mix($de-blue, white, 20%) 125%);
        box-shadow: 
            // inset -0.25rem -0.25rem rgba(black, 0.08),
            0.5rem 0.5rem 0 0 rgba(black, 0.2);
        overflow: hidden;

        transition-property: transform, box-shadow;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.35, 0, 0, 1);

        @media screen and (min-width: 36em) {
            margin-top: 1.5rem;
            margin-left: 1.5rem;
            margin-right: -1rem;
        }

        &--trailing {
            align-items: flex-end;
            padding-bottom: 0;
        }

        #{$root}[href]:hover &,
        #{$root}[href]:focus & {
            transform: scale(1.05);
            box-shadow: 1rem 1rem 0 0 rgba(black, 0.1);
            
            transition-duration: 0.5s;
        }
    }

    img {
        object-fit: cover;
        object-position: center top;
        box-shadow: 
            0 1px 1px rgba(black, 0.06), 
            0 2px 2px rgba(black, 0.06), 
            0 4px 4px rgba(black, 0.06), 
            0 8px 8px rgba(black, 0.06),
            0 16px 16px rgba(black, 0.06),
            0 32px 32px rgba(black, 0.06);

        transition-property: transform;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.35, 0, 0, 1);
    }

    &__thumb--centered img {
        aspect-ratio: 16 / 9;
    }

    &__thumb--trailing img {
        aspect-ratio: 4 / 3;
    }

    &[href]:hover img,
    &[href]:focus img {
        transform: scale(1.05);

        transition-duration: 0.5s;
        transition-delay: 0s;
    }

    figcaption {
        padding: 1.5rem 1rem 3rem;

        transition-property: transform;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.35, 0, 0, 1);

        @media screen and (min-width: 36em) {
            padding-right: 1.5rem;
            padding-bottom: 1.5rem;
            padding-left: 3rem;
        }
    }

    &[href]:hover figcaption,
    &[href]:focus figcaption {
        transform: translateY(1rem);
    
        transition-duration: 0.5s;
    }

    b {
        display: block;
        margin-top: 0.375rem;
        font-size: 0.875rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
}
