// Project
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.project-entry {
    $root: &;

    .js & {
        opacity: 0;

        transition-property: opacity;
        transition-duration: 1s;
        transition-delay: 0.25s;
    }
    
    &.in-view {
        opacity: 1;
    }

    &__client {
        display: inline-flex;
        align-items: center;
        height: 2.5rem;
        margin-left: -1rem;
        padding-right: 0.75rem;
        padding-left: 1rem;
        border-radius: 0.5rem;
        border-top-left-radius: 1.5rem;
        background-color: $de-blue;
        color: $de-green;
        font-size: 1.125rem;
        font-weight: 500;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
}
