// Colors
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$de-blue: #2b3973;
$de-dark-blue: #263366;
$de-light-blue: #4f66bf;
$de-green: #70d1aa;
$de-orange: #f76c6c;
