/* CAFEE Colors
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Primary Palette */

$wvu-blue: #002855;
$wvu-yellow: #EAAA00;
$wvu-gold: #EAAA00;

/* Neutral Palette */

$wvu-black: #2C2A29;
$pms-432-c: #333F48;
$pms-429-c: #A2AAAD;
$pms-warm-gray-11: #6E6259;
$pms-warm-gray-7: #7C736A;
$pms-warm-gray-3: #BFB8AF;

/* Accent Palette */

$pms-286-c: #0033A0;
$pms-300-c: #005EB8;
$pms-629-c: #9BD3DD;
$pms-7554-c: #4B3D2A;
$pms-7557-c: #8F701E;
$pms-144-c: #ED8B00;
$pms-7476-c: #0D5257;
$pms-5625-c: #657A68;
$pms-558-c: #9ABEAA;
$pms-180-c: #BE3A34;
$pms-166-c: #CD4C08;
$pms-115-c: #FDDA24;

/* Social Media Colors */

$facebook: #1877f2;
$twitter: #55acee;
$linkedin: #0077b5;
$youtube: #e52d27;
$instagram: #d93175;
$snapchat: #fffc00;




/* CAFEE Typefaces
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

$sans-serif: Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
