/* danedmonds.net
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* @view-transition {
    navigation: auto;
} */




/* Colors
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
    --de-green: #04BF8A;
    --de-orange: #F24535;
    --de-off-white: #E9E7E3;
    --de-black: #17202A;

    --de-body-bg: var(--de-off-white);
    --de-body-color: rgb(from var(--de-black) r g b / 0.75);
    --de-heading-color: var(--de-black);
    --de-link-color: var(--de-black);
    --de-link-hover-color: inherit;
    --de-link-decoration-color: var(--de-green);
    --de-link-decoration-hover-color: var(--de-orange);
    --de-emphasis-color: var(--de-orange);
    --de-border-color: color-mix(in oklch, var(--de-off-white), var(--de-black) 15%);
    --de-header-bg-color: rgb(0 0 0 / 0.075);
    --de-logo-color: currentColor;
    /* --de-post-border-color: var(--de-black); */
    /* --de-post-box-shadow-color: rgb(from var(--de-black) r g b / 0.1); */
    /* --de-post-box-shadow-hover-color: rgb(from var(--de-black) r g b / 0.05); */
    --de-post-soft-shadow-color: rgb(0 0 0 / 0.1);
    --de-post-sharp-shadow-color: rgb(0 0 0 / 0.15);
    --de-figure-bg-color: rgb(255 255 255 / 0.35);

    /* @media (prefers-color-scheme: dark) { */
        --de-body-bg: var(--de-black);
        --de-body-color: rgb(255 255 255 / 0.9);
        --de-body-color: var(--de-off-white);
        --de-heading-color: white;
        --de-link-color: white;
        /* --de-link-decoration-color: var(--de-orange); */
        --de-link-decoration-color: var(--de-green);
        --de-link-decoration-hover-color: var(--de-orange);
        --de-emphasis-color: var(--de-green);
        --de-border-color: color-mix(in oklch, var(--de-black), var(--de-off-white) 10%);
        --de-header-bg-color: rgb(0 0 0 / 0.15);
        /* --de-logo-color: white; */

        /* --de-post-border-color: black; */
        /* --de-post-box-shadow-color: rgb(from black r g b / 0.25); */
        /* --de-post-box-shadow-hover-color: rgb(from black r g b / 0.15); */

        --de-post-soft-shadow-color: rgb(0 0 0 / 0.2);
        --de-post-sharp-shadow-color: rgb(0 0 0 / 0.3);
        --de-figure-bg-color: rgb(255 255 255 / 0.025);
    /* } */
}




/* Base
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

html {
    box-sizing: border-box;

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: var(--de-body-bg);
    color: var(--de-body-color);
    font-family: "Outfit", sans-serif;
    font-size: 100%;
}

*[id] {
    scroll-margin-block-start: 6rem;
}




/* Typography
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

a {
    color: var(--de-link-color);
    text-decoration-color: var(--de-link-decoration-color);
    text-decoration-thickness: 3px;

    transition-property: background-color, color, text-decoration-color;
    transition-duration: 0.2s;

    &:hover, &:focus-visible {
        text-decoration-color: var(--de-link-decoration-hover-color);
    }
}

h1, h2, h3 {
    scroll-margin-top: 3em;
    margin-block: 1.5em 0.5em;
    color: var(--de-heading-color);
}

h1 {
    margin-block-start: 0;
    /* font-size: 2.5rem; */
    font-size: clamp(2.5rem, 9.375vw, 4.5rem);
    line-height: 1.2;
    text-wrap: pretty;

    /* @media screen and (min-width: 36em) {
        font-size: 3rem;
    }

    @media screen and (min-width: 48em) {
        font-size: 4.5rem;
    } */
}

h2, h3 {
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    line-height: 1.2;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.25;
}

p, ul, dl {
    line-height: 1.5;
}

dl {
    margin-block: 1em 0;

    &:not([class]) dt:nth-child(n+2) {
        margin-block-start: 1em;
    }

    dd {
        margin-inline-start: 0;
    }
}

b, strong {
    color: var(--de-emphasis-color);
    font-weight: 600;
}

i, em {
    font-style: italic;
}

img, video {
    display: block;
    height: auto;
    max-width: 100%;
}




/* Utilities
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
}




/* Layout
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.container {
    width: min(45rem, 100% - 2rem);
    margin-inline: auto;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [breakout-start] minmax(0, calc((75rem - 45rem) / 2)) [content-start] min(100% - (1rem * 2), 45rem) [content-end] minmax(0, calc((75rem - 45rem) / 2)) [breakout-end] minmax(1rem, 1fr) [full-end];
    overflow-x: clip;

    & > * {
        grid-column: content;
    }
}




/* Main
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

main {

    &:not(:has(.hero)) {
        animation-name: FadeIn;
        animation-duration: 0.4s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }

    p, ul, dl {
        font-size: 1.25rem;
        line-height: 1.6;
    }

    & > p {
        margin-block-end: 0;
    }

    & > h1 + p,
    & > h2 + p,
    & > h3 + p {
        margin-block-start: 0;
    }

    & > ul {
        margin-block: 1em 0;
        line-height: 1.5;

        li {
            margin-block-start: 0.5em;
        }
    }

    & > h1 + dl,
    & > h2 + dl,
    & > h3 + dl {
        margin-block-start: 0;
    }
}




/* Logo
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.logo {
    display: block;
    width: 120px;
    height: 62px;
    margin-inline: auto;
    fill: var(--de-logo-color);
}




/* Header & Nav
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
    display: grid;
    align-items: center;
    margin-block-end: 4.5rem;
    padding-block: 1.5rem;

    &:has(.logo) {
        margin-block-end: 6rem;
        padding-block-start: 0.75rem;
        border-block-end: 1px solid var(--de-border-color);

        @media screen and (min-width: 36em) {
            padding-block-end: 0.75rem;
        }
    }
}

nav {
    display: flex; 
    flex-wrap: wrap;
    gap: 0.75rem 3rem;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;

    @media screen and (min-width: 36em) {
        &:has(.logo) {
            column-gap: 3.75rem;
        }
    }

    a {
        color: var(--de-off-white);
        text-decoration-color: transparent;

        animation-name: FadeIn, SmoothEntryX;
        animation-duration: 0.4s;
        animation-delay: 0.5s;
        animation-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0);
        animation-fill-mode: backwards;
        
        @media screen and (max-width: 35.9375em) {
            &:has(.logo) {
                flex: 100%;
            }
        }

        &:last-child {
            --smooth-entry-from: -1rem;
        }

        &:has(.logo) {
            animation-name: FadeIn, SmoothEntryY;

            animation-delay: 0.25s;
        }
    }

    @media screen and (min-width: 36em) {
        &:has(.logo) a:nth-child(2) {
            order: -1;
        }
    }

    .logo {
        transition-property: fill;
        transition-duration: 0.15s;
    }

    a:hover .logo,
    a:focus-visible .logo {
        fill: var(--de-link-decoration-hover-color);
    }
}




/* Hero
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hero {
    margin-block: 0 6rem;
    text-align: center;

    @media screen and (min-width: 48em) {
        margin-block-end: 9rem;
    }

    h1 {
        margin-block: 0;
        font-size: 3rem;
        font-weight: 900;
        line-height: 1;

        span {
            --smooth-entry-from: 0.75rem;

            display: block;

            animation-name: FadeIn, SmoothEntryY;
            animation-duration: 0.4s;
            animation-delay: 0.25s;
            animation-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0);
            animation-fill-mode: backwards;
        }
    }

    .logo {
        --smooth-entry-from: -0.75rem;

        width: 320px;
        height: 166px;
        margin-block-start: -0.75rem;

        animation-name: FadeIn, SmoothEntryY;
        animation-duration: 0.4s;
        animation-delay: 0.25s;
        animation-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0);
        animation-fill-mode: backwards;
    }

    p {
        --smooth-entry-from: -1rem;

        margin-block: 1.5rem 0;
        font-size: 1.5rem;
        line-height: 1.5;
        text-wrap: balance;

        animation-name: FadeIn, SmoothEntryY;
        animation-duration: 0.4s;
        animation-delay: 0.5s;
        animation-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0);
        animation-fill-mode: backwards;

        @media screen and (min-width: 40em) {
            font-size: 1.75rem;
            line-height: 1.4;
        }
    }
}




/* Posts
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.post {
    text-wrap: pretty;

    &:has(.post__image):nth-child(n+2),
    & + h2 {
        margin-block-start: 6rem;
    }
}

.post__image {
    position: relative;
    display: block;

    transition-property: scale, box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0);

    &:hover, &:focus-visible {
        scale: 1.04;
        box-shadow: 
            0px 18px 36px -18px var(--de-post-soft-shadow-color), 
            0px 24px 48px -24px var(--de-post-sharp-shadow-color);

        transition-duration: 0.25s;
    }

    @media (prefers-reduced-motion: no-preference) {
        [data-animate] & {
            --smooth-entry-from: -1rem;

            /* animation-name: FadeIn, SmoothEntryY; */
            animation-duration: 0.4s;
            animation-delay: 0.25s;
            animation-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0);
            animation-fill-mode: both;
        }

        [data-animate]:nth-child(1) & {
            animation-delay: 0.75s;
        }
    }

    img {
        width: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
        object-position: top;
        border-radius: 0.25rem;
        box-shadow: 
            0px 9px 18px -9px var(--de-post-soft-shadow-color), 
            0px 12px 24px -12px var(--de-post-sharp-shadow-color);
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 0.25rem;
        border: 1px solid transparent;
        background: linear-gradient(rgb(255 255 255 / 0.15), rgb(255 255 255 / 0)) border-box;
        mask: 
            linear-gradient(black, black) border-box,
            linear-gradient(black, black) padding-box;
        mask-composite: subtract;
        pointer-events: none;
    }
}

.post__details {
    transition-property: translate;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0);

    .post:has(.post__image:hover) &,
    .post:has(.post__image:focus-visible) & {
        translate: 0 1rem;

        transition-duration: 0.25s;
    }

    @media (prefers-reduced-motion: no-preference) {
        [data-animate] & {
            --smooth-entry-from: -1rem;

            /* animation-name: FadeIn, SmoothEntryY; */
            animation-duration: 0.4s;
            animation-delay: 0.4s;
            animation-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0);
            animation-fill-mode: both;

            [data-animate]:nth-child(1) & {
                animation-delay: 0.9s;
            }
        }
    }
}

.post__name {
    margin-block-end: 0;

    .post:has(.post__image) & {
        margin-block-start: 1.5rem;
    }

    a {
        color: var(--de-link-color);
        text-decoration-color: transparent;

        &:hover,
        &:focus-visible {
            text-decoration-color: var(--de-link-decoration-hover-color);
        }
    }

    .post:has(.post__image:hover) & a,
    .post:has(.post__image:focus-visible) & a {
        text-decoration-color: var(--de-link-decoration-hover-color);
    }
}

.post__summary {
    margin-block: 0.5em 0;
    font-size: 1.125rem;
}

.posts {
    animation-name: FadeIn;
    animation-duration: 0.4s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}




/* Meta
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.meta {
    display: grid; 
    column-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
    margin-block-start: 3rem;
    padding-block-end: 1.5rem;
    border-block: 1px solid var(--de-border-color);
    font-size: 1.125rem;

    h1 + & {
        margin-block-start: 0;
    }

    dt {
        margin-block-start: 1.5em;
    }

    dd {
        padding-inline-start: 0.5em;
        text-indent: -0.5em;
    }

    & + p {
        margin-block-start: 3rem;
    }
}




/* Figure
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.figure {
    margin: 3rem 0 0;
    line-height: 1.5;

    &:not(:has(iframe)) {
        grid-column: full;
    }

    & + & {
        margin-block-start: 3rem;
    }

    h1 + & {
        margin-block-start: 0;
    }

    img, video {
        width: 100%; 
        height: auto;
        background-color: var(--de-figure-bg-color);
    }

    figcaption {
        padding-block-start: 1rem;
    }

    & + * {
        margin-block-start: 6rem;
    }
}

.figure--breakout img,
.figure--breakout video {
    grid-column: breakout;

    border: 1px solid rgb(0 0 0 / 0.5);
}

@media screen and (max-width: 47.9375em) {
    .figure--mobile img,
    .figure--mobile video {
        aspect-ratio: 9 / 20;
        object-fit: cover;
    }
}




/* Footer
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
    margin-block: 6rem 1.5rem;
    padding-block-start: 1.5rem;
    border-block-start: 1px solid var(--de-border-color);
    text-align: center;

    p {
        margin-block: 0;
    }
}




/* Animations
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@keyframes FadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes FadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes SmoothEntryX {
    from {
        translate: var(--smooth-entry-from, 1rem) 0;
    }

    to {
        translate: 0 0;
    }
}

@keyframes SmoothEntryY {
    from {
        translate: 0 var(--smooth-entry-from, 1rem);
    }

    to {
        translate: 0 0;
    }
}

/* @keyframes ScaleEntry */
@keyframes ScaleIn {
    from {
        transform: scale(var(--scale-in-from, 1.1));
    }

    to {
        transform: scale(1);
    }
}

@keyframes clipRevealUp {
    from {
        clip-path: polygon(0% var(--clip-reveal-start, 100%), 100% var(--clip-reveal-start, 100%), 100% 100%, 0% 100%);
    }

    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes clipRevealDown {
    from {
        clip-path: polygon(0% 0%, 100% 0%, 100% var(--clip-reveal-start, 0%), 0% var(--clip-reveal-start, 0%));
    }

    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes clipRevealLeft {
    from {
        clip-path: polygon(var(--clip-reveal-start, 100%) 0%, 100% 0%, 100% 100%, var(--clip-reveal-start, 100%) 100%);
    }

    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes clipRevealRight {
    from {
        clip-path: polygon(0% 0%, var(--clip-reveal-start, 0%) 0%, var(--clip-reveal-start, 0%) 100%, 0% 100%);
    }

    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes ParallaxY {
    from {
        transform: translateY(calc(-50% + var(--parallax-y-distance, 50%) / 2));
    }

    to {
        transform: translateY(calc(-50% - var(--parallax-y-distance, 50%) / 2));
    }
}

[data-animate],
[data-animate] *,
[data-animate] *::before,
[data-animate] *::after {
    animation-play-state: paused;
}

[data-animate="in-view"],
[data-animate="in-view"] *,
[data-animate="in-view"] *::before,
[data-animate="in-view"] *::after {
    animation-play-state: running;
}

[data-animate="done"],
[data-animate="done"] *,
[data-animate="done"] *::before,
[data-animate="done"] *::after {
    animation: none !important;
}
