<footer class="cafee-footer">
    <nav class="py-4 cafee-footer__navigation">
        <div class="container">
            <ul class="nav mx-n3">
                <li class="nav-item active">
                    <a class="nav-link" href="about.html">About WVU CAFEE</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Leadership</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="capabilities.html">Capabilities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="laboratories.html">Laboratories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Case Studies</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="py-2 cafee-footer__copyright">
        <div class="container">
            <p class="m-0">&copy; 2019 Copyright</p>
        </div>
    </div>
</footer>