<header role="banner" class="cafee-header">

    <a href="#content" class="sr-only sr-only-focusable d-block p-2 text-center cafee-header__skip-nav">Skip to main content</a>

    <div class="container py-2 cafee-header__secondary-navigation">
        <div class="row justify-content-end">    
            <nav class="col-auto">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link px-2 active" href="#">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="#">Employment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="#">Contact</a>
                    </li>
                </ul>
            </nav>
            <!-- <form class="col-auto form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form> -->
        </div>
    </div>

    <div class="py-4 cafee-header__navigation">
        <div class="container">
            <nav class="navbar navbar-expand-lg mx-n3 p-0">
                <a class="navbar-brand cafee-header__brand" href="index.html">
                    <img src="images/cafee-logo.svg" alt="WVU CAFEE" width="320">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link px-3" href="about.html">About CAFEE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="#">Leadership</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="capabilities.html">Capabilities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="#">Laboratories</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link px-4" href="#">Differentiators</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link px-3" href="#">Case Studies</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

</header>