<div class="list-group">                    
    <a href="technology-research-education.html" class="list-group-item list-group-item-action">Technology, Research and Education</a>
    <a href="wvu-innovation-corporation.html" class="list-group-item list-group-item-action">WVU Innovation Corporation</a>
    <a href="#" class="list-group-item list-group-item-action">Our Relationships, Government Agencies</a>
    <a href="#" class="list-group-item list-group-item-action">Our Relationships, Manufacturers</a>
    <a href="funding.html" class="list-group-item list-group-item-action">CAFEE Funding</a>
    <a href="history.html" class="list-group-item list-group-item-action">Our Early Days</a>
</div>