html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    /*font-family: 'Droid Serif', serif;*/
    font-family: Georgia, serif;
    color: #4F483E;
}

.site-wrapper {
    width: 100%; 
}

/*@media screen and (min-width: 640px) {
    .site-wrapper {
        padding-left: 320px;
    }
}*/

.header {
    /*background: white; 
    border-bottom: 1px solid #f4f4f4;*/
    margin-top: 45px;
/*    margin-bottom: 30px;*/
    position: relative;
    margin-bottom: 45px;
}

@media screen and (min-width: 640px) {
    .header {
        margin-bottom: 90px;
    }
}

.header:before,
.header:after {
    content: "";
    display: table;
}

.header:after {
    clear: both;
}

/*@media screen and (min-width: 640px) {
    .header {
        width: 320px; 
        height: 100vh; 
        position: fixed; 
        top: 0; 
        left: 0; 
        background: white; 
        padding: 60px;
        border-right: 1px solid #f4f4f4;
    }
}*/

button {
    border: none;
    background: transparent;
    outline: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
}

.button {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.logo {
    max-width: 140px;
    margin-bottom: 30px;
    display: block;
}

@media screen and (min-width: 640px) {
    .logo {
        max-width: 200px;
        margin-bottom: 0;
    }
}

.logo img {
    width: 100%;
    display: block;
}

.menu {
    font-family: 'Droid Sans', sans-serif;
}

@media screen and (min-width: 640px) {
    .bp-menu {
        width: 33.33%; 
        position: absolute; 
        top: 0; 
        left: 0;
    }
}

.home-menu {
    display: none;
}

@media screen and (min-width: 640px) {
    .home-menu {
        display: none;
    }
}

.menu-button {
    position: absolute; 
    top: 0; 
    right: 0;
    font-size: 18px;
    font-family: 'Droid Sans', sans-serif;
    display: none;
}

@media screen and (min-width: 640px) {
    .menu-button {
        display: none;
    }
}

.menu ul {
    padding-left: 0;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (min-width: 640px) {
    .bp {
        position: relative; 
        padding-left: calc(33.33% + 60px);
    }
}

/*
@media screen and (min-width: 640px) {
    nav ul {
        display: block;
    }
}
*/

nav li {
    margin-bottom: 15px;
    line-height: 1.4;
}

a {
    color: #7D0000;
	text-decoration: none;
	-moz-transition: color 0.2s ease-out;
	-webkit-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

h1 {
    color: #7D0000;
    font-family: 'Droid Sans', sans-serif;
}

h2 {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #435D73;
}

h2:first-child {
    margin-top: 0;
}

h3 {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #435D73;
}

p {
    font-size: 1.125rem;
    line-height: 1.5;
}

.contact-button {
    display: inline-block;
    text-align: center;
    padding: 15px 30px; 
    background: #7D0000;
    float: right;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: 'Droid Sans', sans-serif;
    text-transform: uppercase;
    /*-webkit-box-shadow: inset 0 -2px #0033a0;
    -moz-box-shadow: inset 0 -2px #0033a0;
    box-shadow: inset 0 -2px #0033a0;*/
    font-size: 14px;
    width: 100%;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, .4);*/
}

@media screen and (min-width: 560px) {
    .contact-button {
        width: auto;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

/* background: #edede9; */

.page-content {
    
/*
    background: white;
    padding: 60px;
*/
}

.layout-container {
    width: calc(100% - 60px); 
    max-width: 1280px; 
    max-width: 1200px;
    max-width: 960px;
    position: relative; 
    margin: 0 auto; 
}

/*
@media screen and (min-width: 640px) {
    .layout-container {
        width: calc(100% - 120px);
    }
}
*/

.module {
    /*margin-top: 90px;*/ 
    margin-bottom: 45px;
}

@media screen and (min-width: 640px) {
    .module {
        margin-bottom: 90px;
    }
}

.services {
    margin-left: -10px;
    width: calc(100% + 20px);
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    padding-bottom: 80px;
    margin-bottom: 20px;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, .3);*/
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #D3DBE3;
    /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
    background: white;
}

@media screen and (min-width: 820px) {
    .card {
        margin-bottom: 0;
        width: calc(33.33% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }
}

.card-hero {
    padding: 30px;
}

.card-title {
    margin-top: 0;
}

.card-description {
    
}

.card-extension {
    padding: 30px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    font-family: 'Droid Sans', sans-serif;
    text-transform: uppercase;
    background: #D3DBE3;
    line-height: 1.45;
}

.card-extension::after {
    content: "";
    display: inline-block;
    border-style: solid;
    border-width: 3px 3px 0 0;
    height: 12px;
    width: 12px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%) rotate(45deg);
    vertical-align: top;
    color: #7D0000;
}

.testimonials {
    padding-top: 60px; 
    padding-bottom: 60px;
    background: #4F483E;
}

.testimonials-title {
    color: white;
}

.testimonial {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 50%; 
    padding: 30px; 
    background: white;
    margin: 0 auto;
}

/* 0A0903 black */

/* 1F526E blue */

.contact {
    /*background: #D3DBE3;*/
    /*padding-top: 60px; 
    padding-bottom: 60px;*/
}

@media screen and (min-width: 820px) {
    .contact-content {
        position: relative;
        padding-right: calc(60% + 60px);
    }
}

.google-map {
    width: 100%;
}

@media screen and (min-width: 820px) {
    .google-map {
        width: 60%; 
        position: absolute; 
        top: 0; 
        right: 0;
    }
}
