---
layout: base
---

<main class="grid">
    <div class="hero">
        <h1>
            <span>Hello, I’m</span> 
            
            {% include logo.html %}
        </h1>

        {{ content }}
    </div>

    {%- if site.posts.size > 0 -%}
        <div id="my-work" class="posts">
            {%- for post in site.posts -%}
                {% assign class_list = "post" %}

                {% if post.slug %}
                    {% assign class_list = class_list | append: " post--" | append: post.slug %}
                    {% assign class_list = class_list | append: " animate" %}
                {% endif %}
                
                <div class="{{ class_list }}">
                    <a href="{{ post.url | relative_url }}" class="post__image" aria-hidden="true">
                        <picture>
                            {% assign thumbs = post.thumbnail | split: "," %}
                            {% capture img_base %}{{ site.baseurl }}/assets/images/{{ post.url }}{% endcapture %}

                            {% for thumb in thumbs %}
                                {% assign thumb_path = thumb | strip %}
                                
                                {% if forloop.last %}
                                    <img src="{{ img_base }}/{{ thumb_path }}" alt="" loading="lazy" aria-hidden="true">
                                {% else %}
                                    <!-- <source srcset="{{ img_base }}/{{ thumb_path }}" media="(min-width: 768px)"> -->
                                {% endif %}
                            {% endfor %}
                        </picture>
                    </a>

                    <div class="post__details">
                        <h2 class="post__name"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>

                        {% if post.summary %}
                            <p class="post__summary">{{ post.summary }}</p>
                        {% endif %}
                    </div>
                </div>
            {%- endfor -%}
        </div>
    {%- endif -%}
</main>
