---
layout: base
---

<main>
    <div class="container">
        <div class="hero">
            <h1>
                {% include logo.html %}
            </h1>

            {{ content }}
        </div>

        {%- if site.posts.size > 0 -%}
            <div>
                {%- for post in site.posts -%}
                    {% assign class_list = "post" %}

                    {% if post.slug %}
                        {% assign class_list = class_list | append: " post--" | append: post.slug %}
                    {% endif %}
                    
                    <div class="{{ class_list }}">
                        <div class="post__details">
                            <h2 class="post__name"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>

                            {% if post.summary %}
                                <p class="post__summary">{{ post.summary }}</p>
                            {% endif %}
                        </div>
                        
                        <a href="{{ post.url | relative_url }}" class="post__image" aria-label="View {{ post.title | escape }}.">
                            <!-- <svg class="border-svg">
                                <rect x="2" y="2" width="calc(100% - 4px)" height="calc(100% - 4px)" rx="16" ry="16" pathLength="100" />
                            </svg> -->

                            <img src="{{ site.baseurl }}/assets/images/{{ post.url }}/{{ post.thumbnail }}" alt="" width="480" height="360">
                        </a>
                    </div>
                {%- endfor -%}
            </div>
        {%- endif -%}
    </div>
</main>
