---
layout: base
---

<main class="grid">
    <h1>{{ page.title | escape }}</h1>

    <!-- {% if page.summary %}
        <p>{{ page.summary }}</p>
    {% endif %} -->

    <dl class="meta">
        <div>
            <dt><strong>Disciplines</strong></dt>
            <dd>{{ page.disciplines | join: ", " }}</dd>
        </div>
        <div>
            <dt><strong>Tools</strong></dt>
            <dd>{{ page.tools | join: ", " }}</dd>
        </div>
        <div>
            <dt><strong>Timeline</strong></dt>
            <dd>{{ page.timeline }}</dd>
        </div>
    </dl>

    {{ content }}

    {% assign projects = site.projects | sort: "order" | reverse %}

    {% for project in projects %}
        {% if project.url == page.url %}
            {% assign next_index = forloop.index0 | plus: 1 %}
            {% assign next_project = projects[next_index] %}
            {% break %}
        {% endif %}
    {% endfor %}

    {% if next_project %}
        <a href="{{ next_project.url | relative_url }}" class="pagination">
            <div class="pagination__label">Next project →</div>
            
            {{ next_project.title | escape }}
        </a>
    {% else %}
        <a href="{{ "/" | relative_url }}" class="pagination">
            <div class="pagination__label">Up next →</div>

            Back to the homepage
        </a>
    {% endif %}
</main>
